<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-sm text-center">
                <div>
                    <h1 class="display-4">Hey GoDays!</h1>
                    <p class="lead">
                        <img src="/static/images/golab-gopher.jpg" height="300" class="img-fluid"/>
                    </p>
                    <hr class="my-4" />
                    <p>
                        Welcome to our second demo: a modules-powered cat
                        and dog picture generator that uses 
                        <strong>private code</strong>.
                    </p>
                    <button class="btn btn-lg"></button>
                    <div class="btn-group btn-group-lg" role="group" aria-label="Animals!">
                        <a
                            type="button"
                            class="btn btn-lg btn-outline-primary"
                            href="/cats"
                        >
                            Cats
                        </a>
                        <a
                            type="button"
                            class="btn btn-lg btn-outline-primary"
                            href="/dogs"
                        >
                            Dogs
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
